<mat-toolbar>
    <span>Registration</span>
</mat-toolbar>
<mat-card class="my-card" fxLayout="column" fxLayoutAlign="center center">
    <mat-card-content>
        <form class="my-form" [formGroup]="myform" (ngSubmit)="Register()">
            <mat-form-field class="full-width">
                <mat-label>Username</mat-label>
                <input type="text" matInput placeholder="Username" name="Username" formControlName="Username">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Password" name="Password" formControlName="Password">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>ConfirmPassword</mat-label>
                <input type="password" matInput placeholder="ConfirmPassword" name="ConfirmPassword" formControlName="ConfirmPassword">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="Register()" color="primary">REGISTER</button>
    </mat-card-actions>
</mat-card>